# gasolinera/app/templates/admin/add_edit_cliente.html
{% extends "base.html" %}

{% block content %}
<h1 class="mb-4">{% if cliente %}Editar Cliente{% else %}Añadir Nuevo Cliente{% endif %}</h1>

<div class="card p-4">
    <form method="POST">
        {{ form.csrf_token }}
        <div class="mb-3">
            {{ form.nombre.label(class="form-label") }}
            {{ form.nombre(class="form-control") }}
            {% if form.nombre.errors %}
                <div class="text-danger">
                    {% for error in form.nombre.errors %}{{ error }}{% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form.apellido.label(class="form-label") }}
            {{ form.apellido(class="form-control") }}
            {% if form.apellido.errors %}
                <div class="text-danger">
                    {% for error in form.apellido.errors %}{{ error }}{% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form.nit_ci.label(class="form-label") }}
            {{ form.nit_ci(class="form-control") }}
            {% if form.nit_ci.errors %}
                <div class="text-danger">
                    {% for error in form.nit_ci.errors %}{{ error }}{% endfor %}
                </div>
            {% endif %}
        </div>
         <div class="mb-3">
            {{ form.usuario_id.label(class="form-label") }}
            {{ form.usuario_id(class="form-select") }}
            {% if form.usuario_id.errors %}
                <div class="text-danger">
                    {% for error in form.usuario_id.errors %}{{ error }}{% endfor %}
                </div>
            {% endif %}
        </div>
        {{ form.submit(class="btn btn-primary") }}
        <a href="{{ url_for('admin.manage_clientes') }}" class="btn btn-secondary ms-2">Cancelar</a>
    </form>
</div>
{% endblock %}